name: Release

on:
  release:
    types:
      - published

permissions:
  id-token: write

jobs:
  release:
    environment:
      name: npm

    runs-on: ubuntu-latest

    steps:
      - name: Checkout default repository
        uses: actions/checkout@v6

      - name: Reference branch
        id: ref-branch
        uses: aidc-toolkit/.github/actions/ref-branch@main

      - name: Build, test, publish
        uses: aidc-toolkit/.github/actions/build-test-publish@main
        with:
          node_version: ${{ vars.NODE_VERSION }}
          terminal_pre_build: ${{ vars.TERMINAL_PRE_BUILD }}
          terminal_post_build: ${{ vars.TERMINAL_POST_BUILD }}
